/* Style Navbar */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Poppins:wght@200;300&display=swap');

.dataMember {
margin: 50px 10px 10px 20px;
}

.dataMember h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #000000;
    text-align: center;
}

.dataMember .namaMember{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

